.b1{
    background-color: #000000;
}
.b2{
    background-color: #000000;
}
.b3{
    background-color: #000000;
}
.b4{
    background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

body{
    background-color: #000000;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
    overflow-x: hidden;
}