.profile_width{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_general_top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}
.profile_picture{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.profile_meta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.profile_name{
    margin: 0px;
}
.profile_github_label{
    margin: 0px;
    width: 100%;
    text-align: center;
}
.profile_buttons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.profile_button{
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
}
.profile_button_text{
    margin: 10px;
}