.navbar_top{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    text-decoration: none;
    color: inherit;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
}